<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodingPATSHALA</title>
    <link href="css/style.css" rel="stylesheet">
    <link href="css/signup.css" rel="stylesheet">
</head>

<body>

    {{>navbar}}
    <main>

        {{!-- <a href="/register" rel="nofollow" style="color: rgb(0, 4, 255)">Register</a></p> --}}

        <div style="position:relative;padding-bottom:56.25%;height:0;overflow:hidden;"> <iframe style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden" frameborder="0" type="text/html" src="https://www.dailymotion.com/embed/video/k2JupBm1ebdTOExdzFP" width="100%" height="100%" allowfullscreen > </iframe> </div>
    </main>
    <footer>

        <div class="lowerfooter">
            <p>&copy; All Rights Reserved.New Designed by <a href="About_us.html"
                    rel="nofollow" style="color: aquamarine">WebVoyagers</a></p>
        </div>
    </footer>

</body>

</html>