<header>
        <nav>
            <div class="logo">
                <a href="index.html" class="logo"><img src="img/logo1.jpg" alt="" class="img-fluid"></a>
            </div>
            <ul>
                <li><a href="/" id="home">Home</a></li>
                <li><a href="about.html" id="about">About</a></li>
                <li><a href="courses.html">Courses</a></li>
                <li><a href="trainers.html">Trainers</a></li>
                <li><a href="pricing.html">Pricing</a></li>
                <li><a href="/register">Sign Up</a></li>
                <li><a href="/signin">Sign In</a></li>
                <ul>
        </nav>
        <hr>
</header>