.maindiv{
    width: 100vw;
    min-height:80vh;
    display: flex;
justify-content: center;
align-items: center;
}

.innerdiv{
    background-color: rgb(140, 255, 255);
    width: 356px;
height: 350px;
padding: 25px 25px;
border: solid 2px;
border-radius: 27px;
}

li{
    list-style: none;
}

#results{
    border: solid 2px;
    padding:10px;
    margin: 10px;
}


/* Do not change these   */
.showscore{
    display: none;
}

.hidenext{
    display: none;
}